*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Google drive
desktop.ini

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


api_REST/build/
api_REST/node_modules/
api_JAVA/target/
lib/